.pai{
	width: 100%;
	height: 100%;
	background-color: #EDEBEB;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.f1{
	width: 100%;
	height: 15vh;
	background-color: white;
}
.f1 img{
	height: 15vh;
}
.f21{
	width: 100%;
	height: 5vh;
	margin-top: 0.5vh;
	background-color: green;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}
.f2{
	width: 100%;
	height: 5vh;
	margin-top: 0.5vh;
	background-color: green;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-evenly;
}
.c{
	font-size: 1.2vh;
	font-family: sans-serif;
	color: white;
	text-decoration: none;
}
.f3{
	width: 100%;
	height: 75vh;
	background-color: #EDEBEB;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.7vh;
	margin-top: 5vh;
}
h2{
	color: #2F9E3F;
	font-size: 3.8vh;
	text-align: left;
	margin-left: 8vh;
	margin-top: 8vh;
	}
.f4{
	width: 100%;
	height: 40vh;
	margin-top: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}
.ff{
	width: 100%;
	height: 40vh;
	margin-top: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}
.f5{
	width: 20%;
	height: 35vh;
	background-color: white;
	border-radius: 2vh;
}
.f5 p{
	font-size: 2.5vh;
}
.f6{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 70vh;
	
	
}
.video{
	width: 100%;
	height: 100%;

}
iframe{
	width: 40%;
	height: 60%;
	border-radius: 2vh;
}
.saibamais p{
	text-align: center;
	font-family: sans-serif;
	
}
.saibamais h1{
	text-align: center;
}
.rodape{
	width: 100%;
	height: 15vh;
	margin-top: 10vh;
	background-color: white;
	text-align: center;
	font-size: 2.8vh;
}
footer{
	margin-top: 5vh;
	font-family: sans-serif;
}
.cores{
	font-size: 3.8vh;
	font-family: sans-serif;
	text-align: left;
	margin-left: 8vh;
	margin-top: 8vh;
}
.juros{
	margin-left: 40%;
	font-size: 3.8vh;
	font-family: sans-serif;
	
}
.co{
	width: 20%;
	height: 40vh;
	background-color: #2F9E40;
	border-radius: 2vh;
}
.co1{
	width: 20%;
	height: 40vh;
	background-color: black;
	border-radius: 2vh;
}
.co2{
	width: 20%;
	height: 40vh;
	background-color: #D9D9D9;
	border-radius: 2vh;
}
.logo{
	width: 30%;
	height: 22vh;
	margin-left: 4vh;
}
.text{
	width: 100%;
}
.comp{
	margin-left: 5vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.rodap{
	margin-left: 5vh;
	margin-bottom: 10vh;
}
.rodape{
	width: 100%;
	height: 15vh;
	margin-top: 5vh;
	background-color: white;
	text-align: center;
	font-size: 2.8vh;
}
.rodape3{
	width: 100%;
	height: 20vh;
	margin-top: 5vh;
	background-color: white;
	text-align: center;
	font-size: 2.8vh;
}
.quadi{
	width: 100%;
	height: 100%;
}
.coluna1{
	display: flex;
	flex-direction: column;
	margin-right: 30%;
}
.coluna2{
	margin-top: -76.5vh;
	margin-left: 6vh;
}
.coluna3{
	margin-left: 102vh;
	margin-top: -76.5vh;

}
.coluna4{
	margin-left: 155vh;
	margin-top: -76.5vh;
}
.a img{
	width: 34%;
	height: 24.9vh;
}
.a1 img{
	width: 26%;
	height: 24.9vh;
	margin-left: 43.5vh;

}
.a2 img{
	width: 51%;
	height: 24.9vh;
}
.a3 img{
	width: 100%;
	height: 24.9vh;
}-


@media (max-width: 760px){
	.pai{
		height: 100%;
	}
	.f4{
		flex-direction: column;
		margin-left: 20vh;
		margin-top: 50vh;
	}
	.f5{
		width: 50%;
		margin-bottom: 5vh;

	}
	.f6{
		flex-direction: column;
		
	}
	.video{
		width: 60%;
		margin-left: 16vh;
		margin-top: 180vh;
	}
	
	.saibamais{
		width: 50%;
		margin-left: 20vh;
		margin-bottom: 20vh;
		margin-top: 2vh;
		background-color: white;
	}
	.saibamais p{
	font-size: 2.5vh;
	
	}
	.saibamais h1{

	}
	.rodape{
		margin-top: 80vh;
	}
	.cores{
		margin-left: 20vh;
	}
	.ff{
		flex-direction: column;
		margin-left: 40%;
		margin-top: 5vh;
		height: 25%;
	}
	.co{
		margin-bottom: 5vh;
	}
	.co1{
		margin-bottom: 5vh;
	}
	.co2{
		margin-bottom: 5vh;
	}
	.logo{
		width: 70%;
		margin-left: 15vh;
	}
	.comp img{
		width: 80%;
		margin-left: 12vh;
	}
	.rodap{
		width: 75%;
		margin-left: 17vh;
		margin-bottom: 40vh;
	}
	.text{
		height: 220vh;
	}
	.juros{
		margin-right: 30vh;
	}
	.coluna1{
		width: 250%;
		margin-left: 5vh;
	}
	.coluna2{
		width: 328%;
		margin-top: 0.5vh;
		margin-left: -39vh;
	}
	.coluna3{
		width: 167%;
		margin-left: 5vh;
		margin-top: 0.5vh;
	}
	.coluna4{
		width: 86%;
		margin-left: 5vh;
		margin-top:	0.5vh;
	}
	.rodape3{
		margin-top: 10vh;
	}
	